.photo-grid {
    display: grid;
    width: 1184px;
    grid-template-columns: repeat(auto-fill, 284px);
    grid-template-rows: repeat(auto-fill, 213px);
    gap: 16px;
    padding-top: 92px;
    margin: 0 auto;
}


@media (max-width: 1279px) {
    .photo-grid {
        gap: 14px;
        grid-template-columns: repeat(auto-fill, 300px);
        grid-template-rows: repeat(auto-fill, 225px);
        width: 928px;
    }
}

@media (max-width: 1023px) {
    .photo-grid {
        gap: 16px;
        grid-template-columns: repeat(auto-fill, 352px);
        grid-template-rows: repeat(auto-fill, 264px);
        width: 720px;
        padding-top: 88px;
        padding-right: 24px;
        padding-left: 24px;
    }
}

@media (max-width: 767px) {
    .photo-grid {
        width: 288px;
        grid-template-columns: 288px;
        grid-template-rows: 216px;
        gap: 12px;
        padding-top: 64px;
    }
}