.lead {
    max-width: 984px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

@media (max-width: 1024px) {
    .lead {
        padding-right: 48px;
        padding-left: 48px;
    }
}

@media (max-width: 768px) {
    .lead {
        padding-left: 0;
        padding-right: 0;
    }
}

