
.lead__title {
    margin: 0;
    font-size: 96px;
    font-weight: 900;
    text-align: center;
    padding: 0;
    line-height: 100px;
    max-width: 720px;
}


@media (max-width: 768px) {
    .lead__title {
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media (max-width: 680px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
    }
}

@media (max-width: 320px) {
    .lead__title {
        margin-left: 16px;
        margin-right: 16px;
        font-size: 40px;
        line-height: 44px;
        max-width: 288px;
    }
}