.place {
    display: grid;
    gap: 48px 40px;
    grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
    grid-template-areas:
  "title website"
  "image text";
    padding-bottom: 80px;

}

@media (max-width: 1279px) {
    .place {
        grid-template-columns: minmax(340px, 440px) minmax(352px, 456px);
        gap: 48px 32px;
    }
}

@media (max-width: 1023px) {
    .place {
        grid-template-columns: 340px 352px;
        gap: 48px 28px;
        padding-bottom: 72px;
    }
}

@media (max-width: 767px) {
    .place {
        /*grid-template-columns: 320px;*/
        grid-template-columns: 1fr;
        grid-template-areas:
    "title"
    "website"
    "image"
    "text";
        padding-bottom: 50px;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
        row-gap: 32px;
    }
}

