.footer {
    display: flex;
    padding: 92px 48px 24px;
    justify-content: space-between;
}


@media (max-width: 1023px){
    .footer {
        padding: 88px 24px 24px;
    }
}

@media (max-width: 767px) {
    .footer {
        flex-direction: column;
        padding: 62px 16px 24px;
    }
}