.header__lang-links {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
    align-items: end;
    gap: 18px;
}

@media (max-width: 320px) {
    .header__lang-links{
        font-size: 18px;
        line-height: 20px;
    }
}
